[user]
	name = Anton Höglund
	email = anton.hoglund@vinka.fi
[core]
	editor = vim
[alias]
	co = checkout
	st = status
	br = branch
	cat = show
	cp = cherry-pick
	lg = log --pretty=oneline
	ci = commit
[credential]
	helper = cache --timeout=3600
